<div class="container">


    <div class="intro">
        <div class="img-text">
            <img src="espacio1.png" alt="">
        </div>
        <div class="texto">
            <h2>Sobre Platillo Verde</h2>
            <p> <span>Bienvenido a Platillo Verde</span>, un restaurante vegano comprometido con la salud, la
                sostenibilidad y el sabor. Desde nuestra apertura, nos hemos dedicado a ofrecer una experiencia
                culinaria única que celebra los sabores vibrantes de la cocina basada en plantas.</p>

            <p>En <span>Platillo Verde</span>, creemos que la comida no solo debe ser deliciosa, sino también nutritiva.
                Por eso, seleccionamos cuidadosamente los productos más frescos y de alta calidad de agricultores
                locales. Nuestro menú incluye una variedad de platos innovadores que destacan los ingredientes de
                temporada, asegurando que cada bocado esté lleno de frescura y sabor.</p>

            <p>Nuestro equipo de chefs apasionados combina creatividad y técnica para transformar ingredientes simples
                en obras maestras culinarias. Desde ensaladas refrescantes hasta platos reconfortantes, cada receta está
                diseñada para satisfacer tanto a los veganos como a aquellos que simplemente buscan opciones saludables.
            </p>


            <p>Nuestro equipo de chefs apasionados combina creatividad y técnica para transformar ingredientes simples
                en obras maestras culinarias. Desde ensaladas refrescantes hasta platos reconfortantes, cada receta está
                diseñada para satisfacer tanto a los veganos como a aquellos que simplemente buscan opciones saludables.
            </p>
        </div>
    </div>




    <div class="medio">


        <div class="text-medio">
            <h2>Compromiso con la Sostenibilidad</h2>

            <p>En Platillo Verde, no solo nos preocupamos por la comida que servimos, sino también por el impacto que
                tenemos en
                el planeta. Adoptamos prácticas sostenibles en nuestra cocina y utilizamos envases ecológicos para
                reducir
                nuestra huella de carbono. Creemos que cada elección cuenta y estamos aquí para demostrar que comer bien
                también
                significa cuidar del medio ambiente.</p>

            <h2>Nuestra Misión</h2>

            <p>Nuestra misión es crear un espacio acogedor donde todos puedan disfrutar de la buena comida sin
                comprometer sus
                valores. Queremos inspirar a nuestros clientes a explorar la deliciosa diversidad de la cocina vegana y
                hacer de
                cada comida una celebración de la salud y el bienestar.</p>
        </div>

        <div class="img">
            <img src="espacio2.png" alt="">
        </div>

    </div>

</div>