
<div class="contenedor-flex">
  <a routerLink="['home']" class="btn">Mira nuestra carta</a>
  </div>


<div class="entrada ">
  <div class="parrafos">

    
    <p>
      Bienvenidos a Platillo Verde, el destino perfecto para los amantes de la comida vegana en Murcia. Aquí,
      la frescura y la creatividad se combinan para ofrecerte una experiencia gastronómica única que resalta lo mejor de
      la cocina 100%.<br>
      
    </p>
      
    <p>
      En Platillo Verde, nos enorgullecemos de presentar un menú lleno de opciones deliciosas y nutritivas.
      Desde nuestras jugosas hamburguesas de legumbres y especias hasta los kebabs irresistiblemente sabrosos,
      cada plato está preparado con ingredientes frescos y de alta calidad. Acompáñalos con nuestras crujientes
      patatas fritas y disfruta de un batido de frutas frescas, cremoso y revitalizante.
    </p>

    <p>
      Nuestro compromiso es demostrar que la comida rápida puede ser saludable, sostenible y, sobre todo,
      ¡increíblemente sabrosa! En Platillo Verde, cada bocado es una invitación a disfrutar de una alimentación
      consciente sin sacrificar el sabor. Ven y descubre una nueva forma de disfrutar la comida en Platillo Verde,
      donde la gastronomía vegana se transforma en una celebración de sabor y bienestar. ¡Te esperamos en el corazón de
      Murcia!
    </p>

    <p>¡Te invitamos a visitarnos y experimentar todo lo que Platillo Verde tiene para ofrecer! Ya sea que busques una comida rápida y nutritiva o una cena relajante con amigos, estamos aquí para atenderte.</p>
  </div>

  <div class="img-center">
     <img src="intro.png" alt="">
  </div>


</div>





