@use '../../../base/variables' as v;
@use '../../../base/mixin' as m;

h1 {
    font-size: 6rem;
    text-align: center;
}

.entrada {
    display: grid;
  
    grid-template-columns: repeat(2,1fr); 
    gap: 20rem;
    margin: 3rem;
    justify-content: center;
   

   img{
    align-items: center;
    width: 500px;
    border-radius: 15px;
  
    
   }
    
    @include m.tablet{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    img{
        width: 350px;
       
    }
   }

}

.parrafos {
    font-family: "Noto Sans", sans-serif;
    font-size: 20px;
    text-align: center;
}



.contenedor-flex {
    display: flex;
    justify-content: center; 
    align-items: center;    
    margin-bottom: 2rem;
}

.btn {
    margin-top: 40px;
    padding: 1rem;
    background-color: #408846;
    text-decoration: none;
    color: white;
    width: 300px;
    text-align: center;
    font-size: 40px;
    border-radius: 15px;
    
}

.btn:hover {
    
    color: v.$colorHover ;
    cursor: pointer;
}
