<div class="texto">
  <h2>Contacto</h2>


  <p>¿Estás planeando un momento especial? En Platillo Verde, nos encanta ser parte de tus celebraciones familiares,
    bodas y eventos especiales. Nuestro restaurante ofrece una experiencia única en gastronomía vegana, donde cada
    platillo está creado con ingredientes frescos, sostenibles y llenos de sabor.
  </p>


  <p>
    Desde pequeños encuentros íntimos hasta grandes celebraciones, estamos aquí para ayudarte a diseñar el evento de tus
    sueños, rodeado de naturaleza y acompañado de un menú que deleitará a todos tus invitados, veganos y no veganos por
    igual.
  </p>

  <div class="waa">
    <a href="/+34 660 45 45 39">
    <img src="/waa (2).png" alt="">

    </a>

    <a href="">
      <p>+34 660 45 45 39</p>

    </a>


  </div>


  <h2>Queremos escucharte</h2>

  <p>Dinos cómo podemos hacer realidad tu evento ideal. Rellena el formulario con tus datos y cualquier detalle especial
    que quieras compartir. Nos pondremos en contacto contigo para hablar de tus necesidades y personalizar cada detalle.
  </p>


</div>