/* You can add global styles to this file, and also import other style files */
@use "base/variables" as v;


html,body {
  height: 100%;
  margin: 0;
  
 // Aseguramos que ocupen el 100% del alto de la pantalla
  // <uniquifier>: Use a unique and descriptive class name
  font-family: v.$fuente_principal;

  

}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100%; /* Aseguramos que el root ocupa al menos el 100% de la ventana */
}

h1 {
  color: v.$colortext;
}
a {
  color: v.$colortext;
}
p{
  font-family: v.$fuentetexto;
}



