$fuente_principal: "Qwitcher Grypen", cursive;
$fuentetexto : "Noto Sans", sans-serif;
//color text

//color del p
$colortext:#ffffff;

//color h1 h2
$colorintro:#33cc3f;

//color bg
$colorbg:#495c4b;

//color nav y footer

$colorfooter:#000000;
$colornav:#408846;
$colorpfooter:#9b9797;
$colorbtn: #408846;
$colorHover:greenyellow;

$telefono:480px;
$tablet:768px;
$pc:1200px;
$pcGrande:1400px;